* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

.fijo {
    height: 100vh;
    background-image: url("./assets/imagenes/fondo.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: white;
    letter-spacing: 2px;
    font-size: 4rem;
}
.contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.caja{
    border: 1px solid gray;
}
.pContenido{
    font-size: 3rem;
    text-align: center;
    margin: 4rem;
}


.pie{
    height: 240px;
    background-color: #2F3645;
    margin-top: 2rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.cajaPie{
    padding: 20px;

}
